html {
    scroll-behavior: smooth;
  }
  
  .avatar {
    border-radius: 50%;
    width: 50%;
  }
  
  .navigation {
    background-color: red;
    position: fixed;
    width: 20vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
  }
  
  .nav-item {
    color: salmon;
    font-size: 2.5vw;
    padding-top: 20px;
    text-decoration: none;
  }
  
  .nav-item:hover {
    color: orange;
  }
  
  @media (max-width: 750px) {
    .nav-item {
      font-size: 19px;
    }
  }
  
  .main {
    display: grid;
    grid-template-columns: minmax(150px, 20vw) auto;
  }
  
  .column-start {
    grid-column-start: 2;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .section {
    min-height: 100vh;
    padding-top: 30px;
  }